---
layout: default
timeline: 'true'
form: 'true'
tooltip: 'true'
customjs:
  - /js/parallax.min.js
  - /js/fileinput.min.js
  - /js/locales/fr.js
published: true
---
<!-- hero section -->
        <div class="parallax-container-top" data-parallax="scroll" data-position="top" data-bleed="10" data-image-src="/img/abs9.jpg" data-natural-width="1476" data-natural-height="900"></div>
        <div class= "container">
            <div class="punchline text-center">
                <h2>Développer ensemble des solutions <br>open source<a href="#" data-toggle="tooltip" data-placement="down" title="*transparentes, modifiables et libres pour tous!"><b>*</b></a>
                     pour la démocratie.</h2>
                <br>

            </div>

            <div class="card">
               <div class="text_card">

                 {% assign hackathons = site.hackathons | sort: 'title' | reverse %}
                  {% for hackathon in hackathons limit:1 %}

                    {% if hackathon.nextevent %}

                    <div class="ribbon-red"><span> Prochain événement</span></div>
                        <h4 style="color:#fff;">{{ hackathon.title }}</h4>
                        <p><i class="fa fa-calendar" aria-hidden="true"></i> {{ hackathon.moment }} <i class="fa fa-map-marker" aria-hidden="true" style="padding-left:10px"></i> {{ hackathon.place }}</p>
                        <div><a href="{{ hackathon.url }}"><img src="img/hackathons/{{hackathon.img}}"> </img></a></div>
                        <br>
                          {% if hackathon.nextevent %}
                            <a href="{{ hackathon.eventurl }}" class="btn btn-success btn-md btn-fill" target="_blank"><b>Inscription</b></a>
                          {% endif %}
                          {% if hackathon.notes %} <a href="{{ hackathon.notes }}" style="float:center" class="btn btn-warning btn-md btn-fill" target="_blank"><b>Compte rendu</b></a>
                          {% endif %}

                                    <a href="{{ hackathon.url }}" class="btn btn-info btn-md btn-fill"> <b>Détails</b> <i class="fa fa-chevron-right" style=" vertical-align: middle;"></i> </a>
                    <br>
                    <br>

                    {% else %}

                    <div class="ribbon"><span>événement terminé</span></div>
                      <h4 style="color:#fff;">{{ hackathon.title }}</h4>
                      <p><i class="fa fa-calendar" aria-hidden="true"></i> {{ hackathon.moment }} <i class="fa fa-map-marker" aria-hidden="true" style="padding-left:20px"></i> {{ hackathon.place }}</p>

                    <div>
                    <a href="{{ hackahton.url }}"><img src="img/hackathons/{{hackathon.img}}"> </img></a>
                    </div>
                    <br>
                    <a href="{{ hackathon.url }}" class="btn2 btn-bs btn-lg">Détails et compte rendu</a>
                    <br>

                    {% endif %}

                    {% endfor %}
                </div>

            </div>
            <br>
            <center><a href="{{ site.baseurl }}/hackathons/" class="btn2 btn-bs btn-lg">Voir tous les hackathons</a></center>
            <br>
            <br>
        </div>
<!-- end of hero section -->

<!--  Presentation Section -->



    <div class="section section-presentation">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="description">
                        <h3>L'initiative <b>Open Democracy Now</b></h3>
                        <p>
                        Officiellement initiée en janvier 2016, l’initiative Open Democracy Now rassemble une communauté d’acteurs aux profils complémentaires désireux d’apporter des solutions concrètes aux enjeux d’une démocratie plus participative et collaborative. </p>

                        <p>Conjointement organisée par DemocracyOS, Etalab, Open Law, Open Source Politics et République Citoyenne, elle a vocation à être <b>construite sur la durée</b>, portée par plusieurs projets développés pendant une série de <a href="{{ site.baseurl }}/hackathons/"><b>hackathons</b></a> tout au long de l’année.
                        </p>

                        <p>Focalisés sur le développement et l'usage d’outils <b>open source</b> pour la concertation publique en ligne et l’élaboration collaborative de la loi, les différents projets partagent des valeurs structurantes : <b>l’ouverture, la transparence, l’accessibilité, la réutilisation</b>.</p>

                        <p> Les résultats seront présentés les 16 et 17 novembre lors du <a href="http://www.opensourcesummit.paris/" target="_blank"> <b>Paris Open Source Summit</b></a> et les 7,8 et 9 décembre lors du hackathon international du Sommet mondial du  <a href="http://www.opengovpartnership.org/" target="_blank"><b>Partenariat pour un Gouvernement Ouvert</b></a>, à Paris. </p>

                        <p><a href="{{ site.baseurl }}/infos/">En savoir plus</a> sur l'initiative ODN!</p>



                    <!-- 2 buttons -->


                        <div class="row">
                            <div class="col-md-6">
                                    <p><a href="{{ site.baseurl }}/projets/" class="btn btn-info btn-lg btn-fill">Découvrez les projets</a></p>
                            </div>

                            <div class="col-md-6">
                                {% include projet-modal.html %}
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <img class="img-responsive hidden-xs" src="img/hackathon-18.png" alt="photo participants"/>
                    <p class="hidden-xs"><i>Les participants du hackathon Open Democracy Now n°4 préparent la restitution de leurs ateliers.<br>
                        Crédit photo: Robin Lambert.</i></p>
                </div>

            </div>
        </div>
    </div>
<!-- end of presentation  -->



<!--  thematics section-->

            <div class="section section-gray section-clients" id="thematics">
                <div class="container text-center">
                    <h3>6 Thématiques portées par une équipe de référents</h3>
                    <p>Le nouveau cycle d'événements de Open Democracy Now sera ryhtmé par deux types d'événements :</p>
                    <ul style="list-style-type: none;">
                      <li>Les <b>meetups thématiques</b>, organisés fréquemment ils permettent de suivre les projets</li>
                      <li>Les <b>hackathons</b>, plus espacés ils rassemblent toute la communauté </li>
                    </ul>
                </br>
                </div>
                <div class="container">
                  <!-- blockhain -->
                  <div class="row" id="blockchain">
                    <div class="col-sm-12 col-md-6">

                      <center><h5>Coordinateurs :</h5></center>
                      <div class="col-md-4">
                        <center>
                          <img src="/img/people/virgile.jpg" class="img-circle">
                          <br>
                          <p><b>Virgile Deville</b></p>
                          <p><a href="https://twitter.com/VirgileDeville"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;<a href="mailto:vir@democracy.earth"><i class="fa fa-envelope"></i></a></p>
                        </center>
                      </div>
                      <div class="col-md-4">
                        <center>
                          <img src="/img/people/louis-margot-duclot.jpg" class="img-circle">
                          <br>
                          <p><b>Louis Margot-Duclot</b></p>
                          <p><a href=""><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;<a href="mailto:louis@97.network"><i class="fa fa-envelope"></i></a></p>
                        </center>
                      </div>
                      <div class="col-md-4">
                        <center>
                          <img src="https://lesbricodeurs.fr/images/bio/Xa.jpg" class="img-circle" width="150px" height="150px">
                          <br>
                          <p><b>Xavier Lavayssière</b></p>
                          <p><a href="https://twitter.com/XavierLava"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;<a href="mailto:xavier@lesbricodeurs.fr"><i class="fa fa-envelope"></i></a></p>
                        </center>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <h3>L’utilisation des technologies blockchain pour la démocratie et les service publics</h3>
                      <p>Les administrateurs systèmes de nos applications de gouvernance participative sont les monarques de nos démocraties numériques. La blockchain comme tiers de confiance et garant de l’incorruptibilité des données est une vraie opportunité de décentralisation pour les civic techs. Des ateliers seront organisés pour découvrir ces nouveaux protocoles et tenter de les appliquer aux enjeux démocratiques.</p>
                      <a href="" class="btn btn-primary">Voir les événements</a>
                    </div>
                    <hr>
                  </div>
                  <!-- blockchain end -->
                  <p>&nbsp;</p>
                  <!-- écriture collaborative de la loi -->
                  <div class="row" id="ecriture-loi">

                    <div class="col-sm-12 col-md-6">
                      <h3>L’écriture collaborative de la loi</h3>
                      <p>Plusieurs projets se rapprochent de l’objectif de constituer un véritable “Git de la loi” permettant aux citoyens de suivre les débats parlementaires et de participer à l’écriture de la loi en temps réel. Nous atteindrons ce but en soutenant des technologies libres.</p>
                      <a href="" class="btn btn-primary">Voir les événements</a>
                    </div>
                    <div class="col-md-2">
                      <center>
                          <h5>Coordinateur :</h5>
                          <div>

                              <img src="http://www.opensourcepolitics.eu/img/team/3.jpg" class="img-circle" width="150px" height="150px">
                              <br>
                              <p><b>Valentin Chaput</b></p>
                              <p><a href="https://twitter.com/ValentinChaput"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;<a href="mailto:valentin@opensourcepolitics.eu"><i class="fa fa-envelope"></i></a></p>
                          </div>
                      </center>
                    </div>
                    <hr>
                  </div>
                  <!-- fin ecriture collab de la loi -->
                  <p>&nbsp;</p>
                  <!-- Charte éthique -->
                  <div class="row" id="charte">
                    <div class="col-md-4 xs-hidden">
                    </div>
                    <div class="col-md-2">
                      <center>
                      <h5>Coordinateur :</h5>
                      <div>

                          <img src="https://pbs.twimg.com/profile_images/785856552389447681/DsYUP_1m_400x400.jpg" class="img-circle" width="150px" height="150px">
                          <br>
                          <p><b>Benjamin Jean</b></p>
                          <p><a href="https://twitter.com/__bjean__"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;<a href="mailto:bjean@inno3.fr"><i class="fa fa-envelope"></i></a></p>

                    </div>
                    </center>
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <h3>La Charte éthique pour les consultations publiques en ligne</h3>
                      <p>Fruit de plusieurs ateliers lors des hackathons ODN et d’échanges avec des institutions publiques, la rédaction d’une Charte éthique est en cours de finalisation. Nous la proposerons aux administrations qui s’engagent dans des démarches de gouvernement ouvert.</p>
                      <a href="" class="btn btn-primary">Voir les événements</a>
                    </div>
                    <hr>
                  </div>
                  <!-- fin charte ethique -->
                  <p>&nbsp;</p>
                  <!-- carto collab -->
                  <div class="row" id="carto-collab">

                    <div class="col-sm-12 col-md-6">
                      <h3>La cartographie des écosystèmes émergents</h3>
                      <p>En lien avec de nombreux mouvements citoyens, nous utiliserons les outils de cartographie collaborative pour mettre en relation les initiatives citoyennes locales qui partagent nos valeurs de collaboration, de participation et de transparence.</p>
                      <a href="" class="btn btn-primary">Voir les événements</a>
                    </div>
                    <div class="col-md-2">
                      <center>
                      <h5>Coordinateur :</h5>
                      <div>

                          <img src="https://pbs.twimg.com/profile_images/867745693913554948/2LzNhPwk_400x400.jpg" class="img-circle" width="150px" height="150px">
                          <br>
                          <p><b>Johan Richer</b></p>
                          <p><a href="https://twitter.com/JohanRicher"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;<a href="mailto:johan.richer@ogptoolbox.org"><i class="fa fa-envelope"></i></a></p>

                    </div>
                    </center>
                    </div>
                    <hr>
                  </div>
                  <!-- fin carto collab -->
                  <p>&nbsp;</p>
                  <!-- consultation -->
                  <div class="row" id="consultation">
                    <div class="col-md-4 xs-hidden">
                    </div>
                    <div class="col-md-2">
                      <center>
                      <h5>Coordinateur :</h5>
                      <div>

                          <img src="https://pbs.twimg.com/profile_images/812669167459516416/KBQZyVRD_400x400.jpg" class="img-circle" width="150px" height="150px">
                          <br>
                          <p><b>Caroline Corbal</b></p>
                          <p><a href="https://twitter.com/CaroCorbal"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;<a href="mailto:caroline@democracyos.eu"><i class="fa fa-envelope"></i></a></p>
                    </div>
                    </center>
                    </div>
                    <div class="col-sm-12 col-md-6">
                      <h3>Les plateformes de consultation</h3>
                      <p>Pour accompagner la demande croissante de concertations publiques et citoyennes, nous continuerons à répertorier et partager les bonnes pratiques internationales et à soutenir la progression des plateformes de consultation open source.</p>
                      <a href="" class="btn btn-primary">Voir les événements</a>
                    </div>
                    <hr>
                  </div>
                  <!-- fin consultation -->
                  <p>&nbsp;</p>
                  <!-- budget -->
                  <div class="row" id="budget">

                    <div class="col-sm-12 col-md-6">
                      <h3>La transparence budgétaire et les budget participatifs</h3>
                      <p>L’ouverture des données budgétaires locales et nationales est au centre de projets présents depuis l’origine de nos hackathons. Nous renforcerons cette dynamique pour introduire en France les meilleurs référentiels européens.</p>
                      <a href="" class="btn btn-primary">Voir les événements</a>
                    </div>
                    <div class="col-md-2">
                      <center>
                      <h5>Coordinateur :</h5>
                      <div>

                          <img src="img/laptop.png" class="img-circle" width="150px" height="150px">
                          <br>
                          <p><b>Florent André</b></p>
                          <p><a href="mailto:florent.andre@ooffee.eu"><i class="fa fa-envelope"></i></a></p>
                        </center>
                    </div>
                  </div>
                    <hr>
                  </div>
                  <!-- fin budget -->
                </div>
            </div>
<!-- end of thematics -->
            </div>




<!--  Partners section-->

            <div class="section section-features">
                <div class="container">
                    <h3 class="text-center">Co-organisateurs</h3>
                    <br>

                    <div class="row">

                            <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-4 col-sm-2">
                              <a href="http://openlaw.fr/index.php?title=Open_Law,_le_Droit_Ouvert" target="_blank"><img class="img-responsive" src="/img/logos/logo_OpenLaw.jpg" alt="Open Law, le droit ouvert"></a>
                            </div>
                            <div class="col-xs-4 col-sm-2">
                                <a href="http://democracyos.eu/" target="_blank"><img class="img-responsive" src="/img/logos/DOSlogo.jpg" alt="Democracy OS France"></a>
                            </div>

                            <div class="col-xs-4 col-sm-2">
                                <a href="http://www.opensourcepolitics.eu/" target="_blank"><img class="img-responsive" src="/img/logos/logoosp.jpg" alt="Open Source Politics, solutions civic tech"></a>
                            </div>

                            <div class="col-xs-4 col-sm-2">
                              <a href="https://ogptoolbox.org/" target="_blank"><img class="img-responsive" src="/img/logos/ogptoolbox.png" alt="OGP Toolbox, la boite à outils du gouvernement ouvert"></a>
                            </div>

                            <div class="col-xs-4 col-sm-2">
                              <a href="http://republiquecitoyenne.fr/" target="_blank"><img class="img-responsive" src="/img/logos/Repcitoyenne.jpg" alt="Republique Citoyenne"></a>
                            </div>
                            </div>

                             <h3 class="text-center" style="padding-top:30px">Avec le soutien de</h3>
                             <br>

                            <div class="row">

                             <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-4 col-sm-2"->
                                    <a href="http://www.opensourcesummit.paris/" target="blank"><img class="img-responsive" src="/img/logos/poss.jpg" alt="Paris_Open_Source_Summit"></a>
                                </div>


                               <div class="col-xs-4 col-sm-2">
                                    <a href="https://www.opengovpartnership.org/" target="_blank"><img class="img-responsive" src="/img/logos/ogp_paris.jpg" alt="OGP_logo"></a>
                                </div>


                              <div class="col-xs-4 col-sm-2">
                               <a href="https://www.etalab.gouv.fr/" target="_blank"><img class="img-responsive" src="/img/logos/etalab.png" alt="Etalab"></a>
                                   </div>

                            <div class="col-xs-4 col-sm-2">
                                    <a href="https://www.mozilla.org/fr/foundation/" target="_blank"><img class="img-responsive" src="/img/logos/logo-mozilla.png" alt="logo_mozilla"></a>
                                </div>


                            </div>

                </div>

            </div>
<!-- end of partners section -->


<!-- Agenda section -->
        <div class="section-gray" style="margin-bottom:-20px;">
           <div class="container-agenda">
                  <br>
                  <center>
                    <h2>L'agenda des événements Open Democracy Now</h2>
                    <br>
                    <p>Participez à l'animation de la communauté : <a href="https://openagenda.com/open-democracy-now/addevent" class="btn btn-warning btn-fill">Proposer un événement</a></p>

                  </center>

                  <br>
                  <div class="row">
                    <div class="col-md-9">
                        <iframe style="width:100%;" frameborder="0" scrolling="no" allowtransparency="allowtransparency" class="cibulFrame cbpgbdy" data-oabdy src="//openagenda.com/agendas/46721496/embeds/75961130/events?lang=fr"></iframe><script type="text/javascript" src="//openagenda.com/js/embed/cibulBodyWidget.js"></script>
                    </div>
                    <div class="col-md-3">
                      <h5>Trouvez votre événement</h5>
                      <br>
                      <div class="cbpgsc cibulSearch" data-oasc data-cbctl="46721496/75961130|fr" data-lang="fr">&nbsp;<i class="fa fa-search"></i></div><script type="text/javascript" src="//openagenda.com/js/embed/cibulSearchWidget.js"></script>
                      <br>
                      <h6>Thématiques</h6>
                      <div class="cbpgct cibulCategories" data-oact data-cbctl="46721496/75961130" data-lang="fr"></div><script type="text/javascript" src="//openagenda.com/js/embed/cibulCategoriesWidget.js"></script>
                      <br>
                      <div class="cbpgcl cibulCalendar" data-oacl data-cbctl="46721496/75961130|fr" style="width:100%;" data-lang="fr"></div><script type="text/javascript" src="//openagenda.com/js/embed/cibulCalendarWidget.js"></script>
                    </div>
                  </div>
            </div>
          </div>
<!-- end of agenda section -->
