<form action="https://formspree.io/arthur@democracyos.eu"
      method="POST">
  <fieldset class="form-group">
    <label for="exampleInputPassword1">Nom</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Prénom et nom de famille" name="nom">
  </fieldset>
  <fieldset class="form-group">
    <label for="exampleInputEmail1">Adresse email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="exemple@mail.com" name="email">
  </fieldset>
  <fieldset class="form-group">
    <label for="exampleSelect1">Type de projet</label>
    <select class="form-control" id="exampleSelect1" name="type de projet">
      <option>création/développement d'application</option>
      <option>atelier de réflexion</option>
      <option>autre...</option>
    </select>
  </fieldset>
  <fieldset class="form-group">
    <label for="exampleTextarea">Votre projet</label>
    <textarea class="form-control" id="exampleTextarea" rows="3" name="description du projet"></textarea>
  </fieldset>
  <button type="submit" class="btn btn-primary" value="Send">Envoyer</button>
  <input type="hidden" name="_next" value="http://opendemocracynow.net/" />
</form>