<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="/img/odn_square2.ico">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!--  {% include twittercard.html %} -->

  <link rel="stylesheet" href="{{ "/css/bootstrap.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/landing-page.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/bootstrap-social.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ "/css/fileinput.min.css" | prepend: site.baseurl }}">

  {% if page.timeline %}
  <!-- Delay timeline.css to avoid blocking page content -->
  <script>
  var cb = function() {
  var l = document.createElement('link'); l.rel = 'stylesheet';
  l.href = '/css/timeline.css';
  var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
  };
  var raf = requestAnimationFrame || mozRequestAnimationFrame ||
  webkitRequestAnimationFrame || msRequestAnimationFrame;
  if (raf) raf(cb);
  else window.addEventListener('load', cb);
  </script>
  <!-- End of timeline's css delay -->

  <!-- for google sitemap -->

  <meta name="google-site-verification" content="6wkxFvU3JP0mGJw_bmPeJMKa1yMXb4UtWh_JIpG64OU" />

  {% endif %}


  {% for css in page.customcss %}
  <link rel="stylesheet" href="{{ css }}">
  {% endfor %}

</head>
