<p>
<button type="button" class="btn btn-info btn-lg btn-fill" data-toggle="modal" data-target="#myModal">Proposer un projet</button>
</p>


<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Proposer un projet</h4>
      </div>
      <div class="modal-body">
       {% include form.html %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>

  </div>