<br>
<br>
{% if page.socialmatter1 %}
<a class="btn btn2 btn-block btn-social btn-{{ page.socialmatter1 }}" href="{{ page.sociallink1 }}" target="_blank">
<span class="fa fa-{{ page.socialmatter1 }}"></span> {{ page.socialtext1 }}
</a>
{% endif %}


{% if page.socialmatter2 %}
<a class="btn btn2  btn-block btn-social btn-{{ page.socialmatter2 }}" href="{{ page.sociallink2 }}" target="_blank">
<span class="fa fa-{{ page.socialmatter2 }}"></span> {{ page.socialtext2 }}
</a>
{% endif %}


{% if page.socialmatter3 %}
<a class="btn btn2 btn-block btn-social btn-{{ page.socialmatter3 }}" href="{{ page.sociallink3 }}" target="_blank">
<span class="fa fa-{{ page.socialmatter3 }}"></span> {{ page.socialtext3 }}
</a>
{% endif %}


{% if page.socialmatter4 %}
<a class="btn btn2 btn-block btn-social btn-{{ page.socialmatter4 }}" href="{{ page.sociallink4 }}" target="_blank">
<span class="fa fa-{{ page.socialmatter4 }}"></span> {{ page.socialtext4 }}
</a>
{% endif %}


{% if page.socialmatter5 %}
<a class="btn btn2 btn-block btn-social btn-{{ page.socialmatter5 }}" href="{{ page.sociallink5 }}" target="_blank">
<span class="fa fa-{{ page.socialmatter5 }}"></span> {{ page.socialtext5 }}
</a>
{% endif %}


{% if page.socialmatter6 %}
<a class="btn btn2 btn-block btn-social btn-{{ page.socialmatter6 }}" href="{{ page.sociallink6 }}" target="_blank">
<span class="fa fa-{{ page.socialmatter6 }}"></span> {{ page.socialtext6 }}
</a>
{% endif %}
