{% for tag in site.tags %}
        {% assign t = tag | first %}
        {% assign posts = tag | last %}
        <div class="blog-list-container hidden" id="{{ t }}-container">
          <ul class="blog-list">
            {% for post in posts %}
              {% if post.tags contains t %}
                <li>
                  <span class="blog-item-date">{{ post.date | date: "%d %b %Y" }}</span>
                  <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>

          {% assign numPosts = posts | size %}
          {% if numPosts == 1 %}
            <p>{{ posts | size }} post containing tag <b>{{ t }}</b></p>
          {% else %}
            <p>{{ posts | size }} posts containing tag <b>{{ t }}</b></p>
          {% endif %}
        </div>
      {% endfor %}
   


      <ul class="blog-tags-list">
        {% assign sorted_tags = site.tags | sort %}
        {% for tag in sorted_tags %}
          {% assign t = tag | first %}
          {% assign posts = tag | last %}
          <li class="blog-tag-item" id="{{ t }}-item">
            <a href onclick="filter('{{ t }}'); return false;">{{ t }}</a>
          </li>
        {% endfor %}
      </ul>

      <p>
        <a href onclick="filter('all'); return false;">Show all posts</a>
      </p>