  <!-- Tooltip -->
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip(); 
        });
    </script>

<!-- Timeline -->
       <script type="text/javascript">
var options = {
    
    scale_factor: 0.4,
    initial_zoom: -1,
    language: "fr",
  }
  var timeline = new TL.Timeline('timeline-embed',
                                 'https://docs.google.com/spreadsheets/d/12p3DaWlPznNG99INdlPjcJSoESc8_SAvVPBW_Tb0wdY/edit#gid=0',
                                 options);

    </script>