<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@opendemnow">
{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
{% else %}
  <meta name="twitter:title" content="{{ site.title }}">
{% endif %}
{% if page.url %}
  <meta name="twitter:url" content="{{site.basurl}}{{ page.title}}">
{% endif %}
{% if page.excerpt %}
  <meta name="twitter:description" content="{{ page.excerpt }}">
{% else %}
  <meta name="twitter:description" content="{{ site.description }}">
{% endif %}
{% if hackathon.img %}
  <meta name="twitter:image:src" content="{{ site.url }}img/hackathons/{{ hackathon.img }}">
{% endif %}
{% if page.img %}
  <meta name="twitter:image:src" content="{{ site.url }}img/projets/{{ page.img }}">
{% else %}
  <meta name="twitter:image:src" content="{{ site.url }}img/logos/logo-odn-twitter.png">
{% endif %}