---
layout: default

---

<div class="container">

        <div class="row">

            <div class="col-md-12">

                <h1 class="page-header2">Hackathons
                </h1>
                <hr>
            </div>

        </div>
                
               
                    {% for post in site.hackathons reversed %}


                            <div class="row">
                                    <div class="col-md-7">
                                        <a href="{{ post.url }}">
                                            <img class="img-responsive" src="/img/hackathons/{{ post.img }}" alt="{{ post.title }}">
                                        </a>
                                    </div>

                                    <div class="col-md-5">
                                        <p><h3><a href="{{ post.url }}">{{ post.title }}</a></h3> {% if post.nextevent %} <span class="btn btn-danger btn-xs btn-fill">à venir</span>{% endif %}</p>

                                        <p> <i class="fa fa-calendar"> </i> {{post.moment}} <i class="fa fa-map-marker" aria-hidden="true" style="padding-left:20px"></i> {{post.place}} </p>

                                        <p><ul style="font-size:16px">
                                            {% if post.objectif1 %}
                                                <li> {{post.objectif1}}</li>
                                            {% endif %}
                                            {% if post.objectif2 %}
                                                <li> {{post.objectif2}}</li>
                                            {% endif %}
                                            {% if post.objectif3 %}
                                                <li> {{post.objectif3}}</li>
                                            {% endif %}
                                            </ul>
                                        </p>
                                    
                                        <a href="{{ post.url }}" class="btn btn-info btn-sm btn-fill"> Détails <i class="fa fa-chevron-right" style=" vertical-align: middle;"></i> </a>
                                    </div>
                            </div>

                             {% if forloop.last == false %}
                              <hr>
                            {% endif %}



                        {% endfor %}    
                    
          </div>
      </div>
</div>
