<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
        
          {{ content }}

		 <hr>
  
    {% include footer.html %}
   
  {% if page.customjs %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  {% endif %}

   {% for js in page.customjs %}<script type="text/javascript" src="{{ js }}"></script>{% endfor %}
	
	{% if page.search %}
  {% include searchjs.html %}
  {% endif %}

  {% if page.homepage %}
  {% include homepagejs.html %}
  {% endif %}

  {% if page.smoothscroll %}
  <script>
    smoothScroll.init();
  </script>
  {% endif %}

  </body>
</html>