<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
        
          {{ content }}

		 <hr>
  
    {% include footer.html %}
   
  {% if page.customjs %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

{% for js in page.customjs %}<script type="text/javascript" src="{{ js }}"></script>{% endfor %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript" defer></script>


  {% endif %}
	
	{% if page.search %}
  {% include searchjs.html %}
  {% endif %}

  {% if page.form %}
  {% include fileupload.html %}
  {% endif %}


  {% if page.smoothscroll %}
  <script>
    smoothScroll.init();
  </script>
  {% endif %}

 <!-- Delay timeline javascript to avoid blocking page content -->

  {% if page.timeline %}
    <script type="text/javascript">
  function downloadJSAtOnload() {
  var element = document.createElement("script");
  element.src = "/js/defertimeline.js";
  document.body.appendChild(element);
  }
  if (window.addEventListener)
  window.addEventListener("load", downloadJSAtOnload, false);
  else if (window.attachEvent)
  window.attachEvent("onload", downloadJSAtOnload);
  else window.onload = downloadJSAtOnload;
  </script>
  {% endif %}

 <!-- End of timeline.js delay -->



  </body>
</html>