---

layout: default

---


 <div class="container">

		<h1>{{ page.title }}</h1>

		<hr>

		<!-- Date/Time -->
		<p><i class="fa fa-clock-o" aria-hidden="true"></i> 
			Projet ajouté le {% include date-display.html %}
			{% if page.status == "finished" %}<span class="btn btn-hackathon btn-terminated btn-sm"> <b>Terminé</b>{% endif %}
		</p>

		<hr>

		<div class="row">
            
    		<div class="col-md-9">

				{% if page.img %}
                <img class="img-responsive img-projets" src="/img/projets/{{ page.img }}" alt="{{ page.title }}">
                {% else %}
                <div class='rectangle-box'>
                <div class='rectangle-content'><div><span>{{page.title}}</span></div></div>
                </div>
               	{% endif %}
					

					<br>
					<br>
					<br>

				<h5> Description du projet </h5>



				{{ content }}

					
				{% include social-bars.html %}
					
					<hr>
					
					<div class="center-xs">
						<p><h5>Représentant à contacter: </h5></p>
						<br>
						<div class="row">
							<div class="col-md-3 col-sm-3">

								<p>
									{% if page.repimg %}
									<img style= "width:150px ; height:150px" src="/img/people/{{ page.repimg }}" alt="{{ page.rep }}" class="img-circle">
									{% else %}
									<img src="http://placehold.it/150x150" alt="{{ page.rep }}" class="img-circle">
									{% endif %}
								</p>

							</div>

							<div class="col-md-7 col-sm-7">
				    			<div class="rep-text">
					    			<p>
					    			{{ page.rep }}
									</br>
									<i class="fa fa-envelope" aria-hidden="true"></i> {{ page.repmail}}
									</p>
								</div>
								
							</div>
						</div>
					</div>


				</div>

				{% include sidebar.html %}
		</div>

		<br>
		<br>
		<br>

		{% if page.comments %}

	<div class="container">

		<div class="row">

		<div class="col-md-9">

		<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*
    var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        
        s.src = '//opendemocracynow.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
</div>
</div>

		{% endif %}
				

	