---
layout: default
---


    <h1>{{ page.title }}</h1>

    <hr>

    <!-- Date/Time -->
    <p><i class="fa fa-clock-o" aria-hidden="true"></i></span> {{ page.date }} </p>

    <hr>

    <div class="row">
            
        <div class="col-md-9">

        <!-- Preview Image -->
          <img class="img-responsive" src="/img/projets/{{ page.img }}" alt="{{ page.title }}">



        {{ content }}

          
        {% include social-bars.html %}
          
          <hr>

          <p><h4>Représentant à contacter: </h4></p>
            <div class="row">
            <div class="col-md-3 col-sm-3">

              <p>
                <img style= "width:150px ; height:150px" src="/img/people/{{ page.repimg }}" alt="{{ page.rep }}" class="img-circle">
              </p>

              </div>

              <div class="col-md-7 col-sm-7">
              <div style="font-size:20px">
                  </br>
                  {{ page.rep }}
                </br>
                <i class="fa fa-envelope" aria-hidden="true"></i> {{ page.repmail}}
              </div>
            </div>
          </div>

        </div>

        {% include sidebar.html %}